
<p>
  <strong>姓名:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>邮寄地址:</strong>
  <%= @order.sfzhm %>
</p>

<p>
  <strong>联系方式:</strong>
  <%= @order.tel %>
</p>

<p>
  <strong>取票方式:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
