<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Image url1:</strong>
  <%= @ticket.image_url1 %>
</p>

<p>
  <strong>Image url2:</strong>
  <%= @ticket.image_url2 %>
</p>

<p>
  <strong>Time:</strong>
  <%= @ticket.time %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ticket.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
